.page-app {
  margin-bottom: 100px;
  padding-top: 100px;

  .title-app {
    text-align: center;
  }

  .app-wrapper {
    @include flex-between-start;
    padding-top: 15px;

    .app-text {
      width: 600px;

      color: nth($main-colors, 2);
      font-size: nth($text-sizes, 8);
      line-height: nth($text-line-heights, 8);

      .btn-app {
        @include link;
        display: inline-block;
        padding: 16px 40px;

        color: nth($main-colors, 9);
        font-size: nth($text-sizes, 10);
        line-height: nth($text-line-heights, 9);

        background-color: nth($main-colors, 8);
        border-radius: 32px;
      }
    }

    .img-app {
      width: 333px;
    }
  }
}

@media screen and (max-width: 414px) {
  .page-app {
    .app-wrapper {
      @include flex-column-start;
      padding-top: 45px;

      .app-text {
        order: 2;
        width: 100%;
        margin-top: -30px;
      }

      .img-app {
        margin: 0 auto;
        order: 1;
      }
    }
  }
}
